@font-face {
    font-family: "source-code-pro";
    src: url(font/source-code-pro/TTF/SourceCodePro-Regular.ttf) format("truetype");
}

body
{
    background: rgb(211, 212, 214);
    zoom: 1;
}

h2
{
    font-size: 48px;
    color: #0431B4;
    margin-bottom: 25px;
    text-shadow: black 1px 1px 2px;
}

.center
{
    text-align: center;
}

h2.center
{
    font-size: 62px;
    line-height: 88px;
    margin-top: 250px;
}

.intro {
    font-size: 3em;
    text-align: center;
}

#content
{
    margin-top: 30px;
}

#map 
{
    width: 90%;
    position: absolute;
    bottom: 10px;
    z-index: -1;
}

#map a
{
    color: #999;
}

#map a.selected
{
    color: #666;
    font-size: 1.2em;
}

#map hr
{
    margin: 0px;
}

.appendTo {
    font-size: 3em;
}

.CodeMirror
{
    margin: 5px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
    border-radius: 7px;
    max-height: 550px;
}

.cm-s-rubyblue, .cm-s-solarized
{
    font-size: 1.7em;
}

.cm-s-rubyblue span.cm-keyword 
{
    color: plum;
}

.cm-s-rubyblue .currentline
{
    background-color: #384055;
}

.cm-s-eclipse .currentline
{
    background-color: #E3E7F5;
}

.CodeMirror-scroll
{
    border-radius: 7px;
    max-height: 550px;
    height: auto;
    overflow: scroll;
}

.sample
{
    margin: 5px;
    font-size: 1.5em;
    background-color: #DFE3F1;
    color: #000;
    border-radius: 5px;
    padding: 5px;
    height: 400px;
    width: 300px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .2);
}

.sample-head
{
    color: #888;
    font-size: 32px;
    margin-bottom: 20px;
}

.sample-head .description
{
    color: #0431B4;
    font-size: 36px;
}

.sample input
{
    font-size: 18px;
    width: 225px;
}

.sample input[type="checkbox"] 
{
    width: 50px;
}

.sample select
{
    width: 125px;
}

.sample div
{
    margin-top: 10px;
}

.points
{
    padding: 10px;
    margin-top: 50px;
    position: relative;
}

.points li
{
    font-size: 32px;
    padding: 20px;
}

.points a 
{
    font-size: .8em;
}

.points iframe {
    width: 100%;
    height: 600px;
}

.compare {
    height: 600px;
}

.compare h3 {
    font-size: 2.7em;
    margin-top: 15px;
}

.compare .points {
    margin-top: 10px;
    margin-right: 30px;
}

.compare li {
    line-height: 32px;
    padding: 10px;
}

.compare-left {
    position: absolute;
    width: 45%;
}

.compare-right {
    transition: margin-left 1s, opacity 1s
}

.compare-right-move {
    margin-left: 55%;
    opacity: 0.6;
}

.compare-right.nofade {
    opacity: 1.0;
}

.compare.dull {
    opacity: 0.6;
}

.compare-logo img {
    height: 75px;
}

.points.points-small li
{
    font-size: 26px;
    padding: 10px;
    line-height: 26px;
}

div.center
{
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
}

.modal-body
{
    font-size: 4.0em;
    font-weight: bold;
    padding: 40px;
}

.offscreen
{
    position: absolute;
    left: -5000px;
}

.hide
{
    display: none;
}

.help
{
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: .8em;
    color: #666;
}

.logo
{
    float: right;
    width: 15%;
    height: 15%;
    margin-top: -20px;
}

.bb-logo
{
    margin-top: -10px;
    margin-right: 10px;
}

.that
{
    float: left;
    width: 9%;
    height: 9%;
    margin-left: -120px;
    margin-right: 10px;
    position: relative;
    bottom: 15px;
}

.family img
{
    position: absolute;
    top: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #333;
    margin-top: 50px;
}

.marker
{
    position: absolute;
    font-size: 32px;
    background-color: #B40404;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #610B0B;
    padding: 15px;
    margin: 10px;
}

.bindings li {
    font-size: 32px;
    background-color: #B40404;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #610B0B;
    padding: 15px;
    margin: 5px;
    display: inline-block;
}

.marker span
{
    color: #fff;
}

.marker.strike
{
    color: #000;
    text-decoration: line-through;
}

.marker.active
{
    border: solid 5px #610B0B;
}

.marker.method
{

}

.marker.description, .marker.question
{
    background-color: transparent;
    box-shadow: 0 0 0 #000;
    border-radius: 0;
}

.marker.question span
{
    color: #333;
    font-style: italic;
}

.marker.description span
{
    color: #999;
}

.marker.what {
    background-color: #E3E7F5;
    color: #333;
    box-shadow: 2px 2px 2px #666;
}

.why img {
    height: 75px;
}

.why-ko {
    position: absolute;
    top: 25%;
    left: 15%;
}

.why-bb {
    position: absolute;
    top: 25%;
    right: 15%;
}

.what-point, .block-point {
    position: absolute;
    padding: 30px;
    text-align: center;
}

.what-point {
    width: 50%;
    font-size: 3.5em;
    left: 22%;
    bottom: 35%;
}

.x.what-point:after {
    position: absolute;
    content: "XXXXX";
    color: #000;
    font-size: 3em;
    left: 22%;
}

.block-point {
    width: 80%;
    font-size: 2.75em;
    left: 10%;
    bottom: 35%;
}

.block-point-name {
    font-weight: bold;
}

.block-point-name:after {
    content: " - "
}

.editor-more {
    margin-top: 25px;
}

.twitter {
    width: 50px;
    margin-left: 20px;
}

.knockback {
    margin-top: -50px;
}