<h2 data-bind="text: title"></h2>

<div class="compare compare-left" data-bind="visible: bbPoints.activePros().length">
    <div class="compare-logo">
        <img src="img/backbone.png" alt="Backbone" />
    </div>

    <!-- ko with: bbPoints -->
    <h3 data-bind="visible: activePros().length">Pros</h3>
    <ul class="points points-small" data-bind="foreach: activePros">
        <li data-bind="fadeText: $data">
        </li>
    </ul>

    <h3 data-bind="visible: activeCons().length">Cons</h3>
    <ul class="points points-small" data-bind="foreach: activeCons">
        <li data-bind="fadeText: $data">
        </li>
    </ul>
    <!-- /ko -->
</div>

<div class="compare compare-right" data-bind="visible: koPoints.activePros().length">
    <div class="compare-logo">
        <img src="img/ko-logo.png" alt="Knockout" />
    </div>

    <!-- ko with: koPoints -->
    <h3 data-bind="visible: activePros().length">Pros</h3>
    <ul class="points points-small" data-bind="foreach: activePros">
        <li data-bind="fadeText: $data">
        </li>
    </ul>

    <h3 data-bind="visible: activeCons().length">Cons</h3>
    <ul class="points points-small" data-bind="foreach: activeCons">
        <li data-bind="fadeText: $data">
        </li>
    </ul>
    <!-- /ko -->
</div>
