<h2 data-bind="text: title"></h2>

<div class="points" data-bind="foreach: points">
    <div data-bind="template: $data"></div>
</div>

<script id="appendTo" type="text/html">
    <div class="appendTo">
        <img src="img/appendTo-logo.png" />
        <span> - JavaScript Engineer</span>
    </div>
</script>

<script id="verona" type="text/html">
    <!-- ko if: $parent.points().length < 3 -->
    <div class="family">
        <img src="img/map.png" />
    </div>
    <!-- /ko -->
</script>

<script id="family" type="text/html">
    <!-- ko if: $parent.points().length < 4 -->
    <div class="family">
        <img src="img/family.jpg" />
    </div>
    <!-- /ko -->
</script>

<script id="desk" type="text/html">
    <div class="family">
        <img src="img/working.jpg" />
    </div>
</script>